@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: poppins;
	background-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

nav {
	width: 100%;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
	z-index: 100;
}

.social-media {
	height: 40px;
	border: 1px solid steelblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social a {
	margin: 0px 5px;
	color: steelblue;
	font-size: 0.9em;
}

.phone {
	 color: steelblue;
	 margin-left: 30px;
	 font-size: 0.9em;
}

.phone a {
	margin: 0px 2px;
	color: steelblue;
	font-size: 0.9em;
}

.social a:hover {
	color: blue;
	transition: all ease 0.3s;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 45px;
}

.icon img {
	height: 50%;
	width: 50%;
}

.menu {
	display: flex;
}

.menu li {
	position: relative;
	margin: 20px;
	display: flex;
	text-transform: uppercase;
	font-weight: 500;
}

.menu li a{
	color: steelblue;
}

.right-menu a {
	margin: 0px 10px;
	font-size: 1.2em;
	color: steelblue;
}

.menu li a:hover, 
.right-menu a:hover,
.search-cancel:hover,
.login-form input[type="submit"]:hover,
.form-bttn a:hover,
.form-cancel:hover,
.sign-up-form input[type="submit"]:hover {
	color: blue;
	transition: all ease 0.3s;
}

.fa-cart-shopping {
	position: relative;
}

#cart-icon {
	cursor: pointer;
}

/* CART STYLES */
.cart {
	position: fixed;
	top: 0;
	right: -100%;
	width: 360px;
	min-height: 100vh;
	padding: 20px;
	background: white;
	box-shadow: -2px 0 4px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
    z-index: 1000;
}

.cart-active {
	right: 0;
}

.cart-title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 2rem;
}

.cart-box {
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}

.detail-box {
	display: grid;
	row-gap: 0.5rem;
}

.cart-product-title {
	font-size: 0.9em;
}
.cart-quantity {
	border: 1px solid black;
	outline-color: gray;
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}

.cart-price {
	font-weight: 500;
}

.cart-remove {
	font-size: 24px;
	color: steelblue;
	cursor: pointer;
}

.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid black;
}

.total-title {
	font-size: 1rem;
	font-weight: 600;
	margin-right: 0.5rem;
}

.total-price {
	margin-left: 0.5em;
}

.btn-buy {
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
	background: steelblue;
	color: white;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
}

.btn-buy:hover {
	background-color: blue;
}

#close-cart {
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 1.5rem;
	color: steelblue;
	cursor: pointer;
}

.cart-remove:hover,
#close-cart:hover {
	color: blue;
}
/* END CART STYLES */

.search-bar {
	width: 100%;
	height: 200px;
	background-color: white;
	position: fixed;
	left: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	box-shadow: 2px -5px 30px gray;
	z-index: 101;
	animation: search 0.3s;
}

.search-input {
	width: 90%;
	border-bottom: 2px solid steelblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-top: 20px;
}

.search-bar input {
	width: 100%;
	padding: 30px;
	border: none;
	outline: none;
	font-size: 1.2em;
	margin: 20px;
	padding: 0px 20px;
}

.search-cancel {
	color: steelblue;
	font-size: 1em;
	padding-right: 40px;
}

.search-bar {
	display: none;
}

.search-bar-active {
	display: flex;
}

@keyframes search {
	0% {
		bottom: -100px;
	}

	100% {
		bottom: 0px;
	}
}

.login-form,
.sign-up-form {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 102;
}

.login-form form,
.sign-up-form form{
	width: 420px;
	padding: 20px 10px;
	background-color: white;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	position: relative;
}

.login-form strong,
.sign-up-form strong {
	color: steelblue;
	font-size: 2em;
	margin: 2px 7px 7px 7px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.login-form input,
.sign-up-form input {
	width: 90%;
	height: 45px;
	margin: 6px 0px;
	padding: 0px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline: none;
	border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
	background-color: steelblue;
	color: white;
	border-radius: none;
	outline: none;
	text-transform: uppercase;
	margin-top: 10px;
	border-radius: 3px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form-bttn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.form-bttn a{
	color: gray;
	font-size: 0.9em;
}

.sign-up {
	border-bottom: 1px solid black;
	line-height: 16px;
}

.form-cancel {
	position: absolute;
	right: 20px;
	top: 10px;
	color: steelblue;
}

.login-form,
.sign-up-form,
.form {
	display: none;
}

.login-active,
.login-active .login-form {
	display: flex;
	animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .sign-up-form {
	display: flex;
	animation: fade 0.3s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.full-slider-box {
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.f-slide-1{
	background-image: url(images/bg1.jpg);
}

.f-slide-2{
	background-image: url(images/bgg.jpg);
}


.f-slide-3{
	background-image: url(images/bg3.png);
}


.slider-text-container {
	width: 80%;
	height: 90%;
	display: flex;
	align-items: center;
}

.f-slider-text {
	display: flex;
	flex-direction: column;
	margin-right: auto;	
	color: #00BBFF;
}

.f-slider-text strong {
	color: #00BBFF;
	font-size: 3em;
	line-height: 55px;
	margin-top: 10px;
	letter-spacing: 1px;
}

.f-slider-text span {
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 500;
	color: gray;
	font-size: 1.2em;
}

.f-slider-btn {
	width: 170px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: steelblue;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 10px;
}

.featured-heading,
.products-heading{
	display: flex;
	justify-content: center;
	align-items: center;
}

.featured-heading h2,
.products-heading h2 {
	font-size: 1.5em;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 40px;
	padding: 5px 30px;
	border: 1px solid gray;
}

.feature-box {
	width: 155px;
	height: 155px;
	margin: 0px 20px;
	border-radius: 10px;
	overflow: hidden;
}

.feature-box a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.item span{
	font-size: 1rem;
	font-weight: 600;
	margin: 5px;
	color: #444444;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#autoWidth {
	display: flex;
	justify-content: center !important;
	margin: 10px auto 40px auto;
}



.shop {
	margin-top: 2rem;
}

.container {
	max-width: 1068px;
	margin: auto;
	width: 100%;
}

section {
	padding: 4rem 0 3rem;
}

.shop-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	gap:1.5rem;
}

img {
	width: 100%;
}

.product-box {
	position: relative;
}

.product-box:hover{
	padding: 10px;
	border: 1px solid gray;
	transition: 0.4s;
}

.product-img {
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
}

.product-title {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.price {
	font-weight: 500;
}

.add-cart {
	position: absolute;
	bottom: 0;
	right: 0;
	background:steelblue;
	color: white;
	padding: 10px;
	cursor: pointer;
}

.fix-nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
	z-index: 102;
}

.add-cart:hover {
	background-color: blue;
}

@media (max-width: 1080px) {
	.container {
		margin: 0 auto;
		width: 90%;
	}
}